* {
    margin: 0;
    
    box-sizing: border-box;
    margin-bottom: 3px;
}

html {
  scroll-padding-top: 150px; /* Adjust to match the header height */
}


header {
  position: fixed;
  width: 100%;
   top: 0;
  left: 0;
}

body {
  padding-top: 110px; /* Adjust value based on header's height so header does not obscure content */
}

div {
    padding-top: 20px;
    padding-bottom: 20px;
}

fieldset {
    width: 40%;
    max-width: 50%;
}

/* Add a black background color to the top navigation */
.navbar {
    width: 100%;
    min-height: 50px;
    /* margin-top: 3px; */
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.heading {
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    padding: 3px;
    text-align: center;
    line-height: 50px;

}

.txt-img-container {
    width: 100%;
    min-height: 300px;
    /* display: flex; */
    /* justify-content: center; /* Horizontally centers the containers */
    /* display: grid; */
    /* place-items: auto; */
    /*display: grid;
    grid-auto-flow: column; /* Ensures elements flow in a single line horizontally */
    /* grid-template-columns: auto auto auto; /* Adjust based on number of elements */
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    background-color: gray;
}

.txt-container {
    width: 45%;
    min-height: 300px;
    background-color: lightgray;
    display: inline-block;
}

.img-container {
    width: 45%;
    min-height: 300px;
    background-color: lightgray;
    display: inline-block;
}

.split-div-500-300 {
  display: grid;
  grid-template-columns: 500px 300px; /* Creates 3 equal columns */
  background-color:honeydew ;
  gap: 10px;

}

.split-div-300-500 {
    display: grid;
  grid-template-columns: 400px 500px; /* Creates 3 equal columns */
  background-color: ivory;
  gap: 10px;

}

.div-padding-major {
    padding: 50px 5px 0px 15px;
}

.padding-class {
    padding: 5px 25px;
}

footer {
    font-size: 10px;
}